:root {
    --background: #000000;
    --text-color: #dfdfdf;
    --border-color: #686868;
    --hover-border-color: #8b8b8b;
    --button-background: #252525bd;
    --box-shadow-color: #ffffff18;
    --font-family: "Noto Sans Mono", "Consolas", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
    background: var(--background);
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    flex-direction: column;
}

.title {
    color: var(--text-color);
    font-size: 1.3rem;
    margin-bottom: .8rem;
}

.input-url-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input-url-box {
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: .1rem solid var(--border-color);
    color: var(--text-color);
    width: 650px;
    max-width: 100%;
    font-size: .9rem;
    padding-right: 40px;
}

.input-url-box::placeholder {
    color: var(--border-color);
}

.input-url-box:focus {
    outline: none;
    background: none; 
    border-bottom-color: var(--hover-border-color);
    box-shadow: none;
    color: var(--text-color);
}

.btn {
    padding: 5px 12px;
    font-size: .9rem;
    color: var(--text-color);
    background: var(--button-background);
    box-shadow: var(--box-shadow-color) 0px 0px 0px .1rem;
    transition: background .3s ease;
}

.btn:hover {
    background: var(--button-background);
    box-shadow: var(--box-shadow-color) 0px 0px 0px .1rem;
}

.clear-button {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--background);
    border: none;
    font-size: 1.3rem;
    color: var(--text-color);
    cursor: pointer;
    padding: 12px;
    display: none;
}

.position-relative {
    position: relative;
    width: 100%;
    max-width: 650px;
}