:root {
    --background: #000000;
    --text-color: #dfdfdf;
    --border-color: #686868;
    --font-family: "Noto Sans Mono", "Consolas", monospace;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background: var(--background);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: var(--text-color);
    font-size: 1.3rem;
    margin-bottom: .8rem; /* Add margin to move the title down */
}

.input-url-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.input-url-box {
    background: none;
    border: 0;
    border-radius: 0;
    border-bottom: .1rem solid var(--border-color);
    color: var(--text-color);
    width: 650px;
    max-width: 100%;
    font-size: .9rem;
}

.input-url-box::placeholder {
    color: var(--border-color);
}

.input-url-box:focus {
    background: none; /* Keep the background transparent */
    border-bottom-color: var(--border-color); /* Keep the bottom border color the same */
    box-shadow: none;
    color: var(--text-color);
}